* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bgcolor: rgb(255, 255, 255);
    --maincolor: #880808;
    --fastrans: .4s;
    --slowtrans: .7s;
}

body {
    background: #b43a3a;
    background: linear-gradient(90deg, rgba(180, 58, 58, 1) 0%, rgba(112, 28, 28, 1) 82%, rgba(150, 24, 24, 1) 100%);
}

#register_form {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    background-color: var(--maincolor);
    border-radius: 25px;
    width: 500px;
    margin: 150px auto;
    padding: 10px;
    color: white;
    box-shadow: 20px 20px 20px #240000;
}

#register_form>input {
    border-radius: 25px;
    width: 80%;
    height: 60px;
    font-size: 25px;
    border: 3px solid transparent;
    transition: .4s;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    background-color: var(--maincolor);
    border-radius: 25px;
    width: 500px;
    margin: 150px auto;
    padding: 10px;
    color: white;
    box-shadow: 20px 20px 20px #240000;
}

#login>input {
    border-radius: 25px;
    width: 80%;
    height: 60px;
    font-size: 25px;
}

#login>button {
    width: 80%;
    height: 50px;
    border-radius: 25px;
    border: 3px solid grey;
}

#register_form>button {
    width: 80%;
    height: 50px;
    border-radius: 25px;
    border: 3px solid grey;
}

#unes {
    cursor: pointer;
}

#chunes {
    cursor: pointer;
}

@keyframes shake {
    25% {
        translate: 6px 0;
        border-color: red;
    }

    50% {
        translate: -6px 0;
        border-color: red;
    }

    100% {
        translate: 6px 0;
        border-color: red;
    }
}

.profilehtml_main {
    display: flex;
    flex-direction: column;
    background: #b43a3a;
    background: linear-gradient(90deg, rgba(180, 58, 58, 1) 0%, rgba(112, 28, 28, 1) 82%, rgba(150, 24, 24, 1) 100%);
    color: white;
    width: 100%;
}


.profilehtml_main>img:nth-child(2) {
    width: 10%;
}

.profilehtml_main>div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile_name {
    display: flex;
}

#profile_img {
    object-fit: fill;
    height: 200px;
    width: 200px;
    border: 3px black solid;
    border-radius: 50%;
    background-color: white;
}

button .isliked {
    color: red;
    border-color: red;
}

.shop_button {
    padding: 5px 10px;

}

.shop_button a {
    color: var(--maincolor);
}

@media (max-width:552px) {
    #login {
        width: 100%;
        gap: 15px;

    }

    #login>input {
        border-radius: 25px;
        width: 100%;
        padding: 10px 20px;
        font-size: 25px;
    }

    #register_form {
        width: 100%;
        gap: 15px;

    }

    #register_form>input {
        width: 100%;
        gap: 15px;
    }
}   